h1{
  background: linear-gradient(to right, #8dc45a 0%, #59b79c 50%, #2a91d0 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.sl-markdown-content :is(th, td):not(:where(.not-content *)) {
    border: 1px solid var(--sl-color-gray-5);
    padding: 0.5rem 1rem;
    vertical-align: baseline;
}

table {
    border-collapse: collapse;
    margin-bottom: 1.5rem;
    width: 100%;
}

.sl-markdown-content :is(th, td):not(:where(.not-content *)) {
    vertical-align: middle;
}

.sl-markdown-content th:not(:where(.not-content *)) {
    background-color: var(--sl-color-gray-7);
}


.sl-markdown-content ul, ol {
    padding-inline-start: 20px;
}

.sl-steps {
    padding-inline-start: 0px;
}
