---
const { lang } = Astro.locals.starlightRoute;

const links = [
  {
    'icon': '',
    'zh-CN': { text: '官方网站', link: 'https://ai2robotics.com/' },
    'en': { text: 'Website', link: 'https://ai2robotics.com/en' }
  },
  {
    'icon': 'comment-alt',
    'zh-CN': { text: '我要反馈', link: 'https://ai2robotics.feishu.cn/share/base/form/shrcnknvgxsUIPp6vgyar1s0OVd' },
    'en': { text: 'Feedback', link: 'https://github.com/AI2-Robotics/ai2-docs/discussions' }
  }
];
import { Icon } from '@astrojs/starlight/components';
---



{links.map(item => (  
  <a 
    href={item[lang].link} 
    target="_blank" 
    style="margin: 0 0.5rem;"
  > <Icon name={item['icon']} />&thinsp;
    {item[lang].text}
  </a>
))}


<style>
a {
  color: var(--sl-color-gray-1);
  text-decoration: none;
  font-size: var(--sl-text-sm)
}

</style>