---
const { lang } = Astro.locals.starlightRoute;
const linkData = {'zh-CN':{'text':'官方网站', 'link':'https://ai2robotics.com/'},'en':{'text':'Website', 'link':'https://ai2robotics.com/en'}};
const data = linkData[lang]

---

<a href={data.link} target="_blank">{data.text}</a>


<style>
a {
  color: var(--sl-color-gray-1);
  text-decoration: none;
  font-size: var(--sl-text-sm)
}

</style>